{{! Cabeçalho }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Novo Produto</li>
    </ol>
</nav>

{{!-- Alerta --}}
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form action="/addprod" class="row g-3 needs-validation" method="post" novalidate>
    {{> prod-form}}
</form>
{{!-- 
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Adicionar</button>
</div> --}}