{{! Cabeçalho }}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editando Produto</li>
    </ol>
</nav>

{{!-- Alerta --}}
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form action="/editprod/{{this.id}}" class="row g-3 needs-validation" method="post" novalidate>
    {{> prod-form}}
</form>
{{/each}}

